doctype html
html
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    link href="css/main.css" rel="stylesheet" /
    script defer="" src="js/main.js" 
    link href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora" rel="stylesheet" /
    link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /
    link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
    link href="favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
    title Apparatus
  body
    /! START OF: Header 19 =====
    header.header-19
      /! START OF: Nav 2 =====
      nav.nav-02
        .container.container--large
          .nav-02__box
            .nav-02__logo
              a.nav-02__link href="javascript:void(0);" target="_blank" 
                img.nav-02__logo_img alt=("Apparatus Logo") src="img/photos/apparatus_logo.png" /
                span Apparatus
            .nav-02__links.js-menu
              ul.nav-02__list
                li.nav-02__item
                  a.button.button--black-outline.button--empty href="javascript:void(0);" target="_blank" 
                    span About
                li.nav-02__item
                  a.button.button--black-outline href="javascript:void(0);" target="_blank" 
                    span Sign Up
              .nav-02__burger
                button.burger.burger--black.js-open-menu type="button" 
                  .burger__box
                    .burger__inner
      /! ===== END OF: Nav 2
      .container.container--large.header-19__container
        .header-19__left
          .header-19__left_content
            h1.heading.heading--accent.header-19__heading SEO Experimentation Made Easy
            p.header-19__text Automatically generate and run experiments to grow your organic search traffic.
            .header-56__cta_box
              /! START OF: mailchimp form =====
              /! If you need help with setting up the MailChimp form you can check the handy guides: https://unicornplatform.com/blog/category/guides-%F0%9F%8D%93/
              /! If you need an assistance of a tech guy, simply ask in the chat on website or join Unicorn Platform Slack channel.
              form.form.js-subscribe-mailchimp-form action="https://unicornplatform.us18.list-manage.com/subscribe/post?u=b5a4c18c515b0b1b6f7f7f272&amp;amp;id=5238fd87f4" method="post" 
                .form__inputs
                  .form__input
                    input.text-input.js-email-input name="EMAIL" placeholder=("Enter your email") type="email" /
                    .form__messages
                      .message.message--engaging.js-message.js-engaging-message data-index="email-form-1147" 
                        .message__box
                          button.message__close.js-close-message type="button" 
                            img.message__close_icon src="img/icons/corner-top--blue.svg" /
                          .message__body
                            .message__in
                              .message__bubble
                                .message__bubble_text Get early access to a cutting edge tool that will help grow your organic traffic.
                              .message__bubble
                                .message__bubble_text And, as an added bonus, you get a personalized onboarding that includes a free opportunity audit where we will dive into your site's SEO and find the biggest opportunities.
                              .message__bubble
                                .message__bubble_text Just fill in your email and we'll be in touch!
                            .message__out
                              .message__out_box
                                .message__bubble
                                  .message__bubble_text.message__bubble_text--out.js-reaction-text
                                    /! updated via JS, no need to enter any text here
                      .message.message--success.js-message.js-success-message
                        .message__box
                          button.message__close.js-close-message type="button" 
                            img.message__close_icon src="img/icons/corner-top--blue.svg" /
                          .message__body
                            .message__in
                              .message__bubble
                                .message__bubble_text
                                  b Success!
                                  | Thanks for letting us know that you're interested.
                              .message__bubble
                                .message__bubble_text We've added you to the waitlist and you should hear back from us soon!
                      .message.message--error.js-message.js-error-message
                        .message__box
                          button.message__close.js-close-message type="button" 
                            img.message__close_icon src="img/icons/corner-top--blue.svg" /
                          .message__body
                            .message__in
                              .message__bubble
                                .message__bubble_text
                                  b Error.
                                  | Your form has not been submitted
                                  img.emoji alt="Emoji" src="img/emoji/cold_sweat.png" /
                              .message__bubble
                                .message__bubble_text
                                  | This is what the server says:
                                  .message__bubble_error.js-error-message-text There must be an @ at the beginning.
                            .message__out
                              .message__out_box
                                .message__bubble
                                  .message__bubble_text.message__bubble_text--out.js-reaction-text Let me try again...
                          .message__reply_box
                            .message__reply_word Reply
                            .message__options
                              .message__option
                                button.button.js-react-on-message.button--ruby-bg type="submit" 
                                  span.button__text Uh oh!
                              .message__option
                                button.button.js-react-on-message.button--ruby-bg type="submit" 
                                  span.button__text Let me try again...
                  .form__button
                    button.button.js-submit-button.button--accent-bg type="submit" 
                      span.button__text Request Access
                      .spinner
                      .button__submit_success
                        .button__success_circle
                        div
                          svg.button__success_tick height="13" viewbox=("0 0 13 13") width="13" xmlns="http://www.w3.org/2000/svg" 
                            path.button__success_tick_path d=("M0 8l5.119 3.873L11.709.381") fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="square" /
                      span.icon
                        svg viewbox=("0 0 13 10") xmlns="http://www.w3.org/2000/svg" 
                          path d=("M12.823 4.164L8.954.182a.592.592 0 0 0-.854 0 .635.635 0 0 0 0 .88l2.836 2.92H.604A.614.614 0 0 0 0 4.604c0 .344.27.622.604.622h10.332L8.1 8.146a.635.635 0 0 0 0 .88.594.594 0 0 0 .854 0l3.869-3.982a.635.635 0 0 0 0-.88z") fill="#00396B" fill-rule="nonzero" /
                .form__message_opener
                  button.form__message_opener_box.js-open-engaging-message data-index="email-form-1147" type="button" 
                    | Why should I subscribe?
                    img.emoji alt="Emoji" src="img/emoji/thinking.png" /
              /! ===== END OF: mailchimp form
      .header-19__right
        .header-19__right_wrapper
          .header-19__mockup
            .mockup.mockup--white.mockup--macbook.mockup--portrait
              .mockup__container
                .mockup__case
                  .mockup__spacer
                  .mockup__screen
                    .mockup__screenshot style=("background-image: url(https://unicornplatform.com/app/img/screenshots/dashboard-concept.png)") 
                img.mockup__bottom src="img/other/macbook-mockup-shadow.png" /
    /! ===== END OF: Header 19
    /! START OF: Steps 01 =====
    .steps-01
      .container.container--xsmall
        h2.heading.text-center How It Works
      .container
        ul.steps-01__list
          li.steps-01__item
            .steps-01__number 1
            .steps-01__content
              .steps-01__text_box
                h2.steps-01__heading Generate Ideas
                p.steps-01__text Apparatus generates ideas to run multiple experiments to increase your search traffic.
              .steps-01__img_box
                img.steps-01__img src="https://unicornplatform.com/app/img/screenshots/dashboard-concept.png" /
          li.steps-01__item
            .steps-01__number 2
            .steps-01__content
              .steps-01__text_box
                h2.steps-01__heading Capture Website Changes
                p.steps-01__text Apparatus records every website change, and monitors its impact on your search traffic and your bottom line.
              .steps-01__img_box
                img.steps-01__img src="https://unicornplatform.com/app/img/screenshots/dashboard-concept-2.png" /
          li.steps-01__item
            .steps-01__number 3
            .steps-01__content
              .steps-01__text_box
                h2.steps-01__heading Track Progress
                p.steps-01__text Apparatus reports the progress of your experiments so that you can save time tracking your experiments.
              .steps-01__img_box
                img.steps-01__img src="https://unicornplatform.com/app/img/screenshots/dashboard-concept-3.png" /
          li.steps-01__item
            .steps-01__number 4
            .steps-01__content
              .steps-01__text_box
                h2.steps-01__heading Be Data Driven
                p.steps-01__text By constantly running experiments, apparatus will help you understand what works for your business and what doesn't.
              .steps-01__img_box
                img.steps-01__img src="https://unicornplatform.com/app/img/screenshots/dashboard-concept-4.png" /
        .steps-01__last_bubble
          img.steps-01__last_bubble_img src="img/emoji/hugging.png" /
    /! START OF: Features 5 =====
    .features-05
      .container.container--small
        .title-box.title-box--center
          h2.heading Benefits
      .container
        .features-05__items__wrapper
          .features-05__item_box
            h3.features-05__item_title Before
            ul.features-05__items
              li.features-05__item
                img.features-05__item_icon src="img/icons/cross--red.svg" /
                .features-05__item_text Ideas were generated once a quarter by analyzing google console, google analytics & seo monitoring tools
              li.features-05__item
                img.features-05__item_icon src="img/icons/cross--red.svg" /
                .features-05__item_text Experiments were manually tracked using spreadsheets and often left unfinished
              li.features-05__item
                img.features-05__item_icon src="img/icons/cross--red.svg" /
                .features-05__item_text Marketers struggled to tie website changes to impact in search traffic and conversions
          .features-05__item_box
            h3.features-05__item_title After
            ul.features-05__items
              li.features-05__item
                img.features-05__item_icon src="img/icons/checked--blue.svg" /
                .features-05__item_text Apparatus watches competitors and trends in traffic to find SEO opportunities in real-time
              li.features-05__item
                img.features-05__item_icon src="img/icons/checked--blue.svg" /
                .features-05__item_text Apparatus tracks experiment progress and sends you a notification once the experiment finishes with its result and what to do next
              li.features-05__item
                img.features-05__item_icon src="img/icons/checked--blue.svg" /
                .features-05__item_text Apparatus monitors meaningful website changes so you always have a history of changes and their impact on your search traffic.
    /! ===== END OF: Features 5
    /! START OF: Footer 03 =====
    .footer-03
      .container
        .footer-03__wrapper
          .footer-03__text_box
            .footer-03__text
              | \&copy; 2019&nbsp;
              a.footer-03__link href="javascript:void(0);" > Chai Labs Inc.
              | \.
            .footer-03__text All rights reserved.
          img.footer-03__grid src="img/other/grid.png" /
