div id="signup-modal" class="modal"
  h3 Enter your email to sign up for early access.
  p We're excited to show you the capabilities of Apparatus.
  |
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "5835537",
      formId: "0a650fb6-8cbf-448c-9f51-7411241cf8ed"
    });
    </script>